<div class="card-container">
    <app-domain-card 
      [title]="'Card Title 1'" 
      [description]="'Short description 1'" 
      [backgroundImage]="'../../assets/images/domain-card.jpg'">
    </app-domain-card>
    <app-domain-card 
      [title]="'Card Title 2'" 
      [description]="'Short description 2'" 
      [backgroundImage]="'../../assets/images/domain-card.jpg'">
    </app-domain-card>
    <app-domain-card 
      [title]="'Card Title 3'" 
      [description]="'Short description 3'" 
      [backgroundImage]="'../../assets/images/domain-card.jpg'">
    </app-domain-card>
    <app-domain-card 
      [title]="'Card Title 4'" 
      [description]="'Short description 4'" 
      [backgroundImage]="'../../assets/images/domain-card.jpg'">
    </app-domain-card>
    <app-domain-card 
      [title]="'Card Title 4'" 
      [description]="'Short description 4'" 
      [backgroundImage]="'../../assets/images/domain-card.jpg'">
    </app-domain-card>
  </div>
  