.card-container {
  display: flex;
  flex-wrap: nowrap; 
  gap: 10px;
  overflow-x: auto; 
  height: auto; 
  padding: 20px;
  white-space: nowrap;
  scrollbar-width: none; 
  scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
  display: none;
}
