<div class="otp-verification-container">
    <form #otpVerificationForm="ngForm" (ngSubmit)="handleSubmit()" novalidate>
      <div class="otp-verification-form">
        <div class="otp">
          <span class="label">Enter OTP</span>
          <p-inputOtp [(ngModel)]="otpInput" name="otp" required>
            <ng-template pTemplate="input" let-token let-events="events">
                <input 
                    pInputText 
                    class="custom-otp-input" 
                    (input)="events.input($event)" 
                    (keydown)="events.keydown($event)" 
                    type="text" 
                    [attr.value]="token" 
                    [maxLength]="1" />
            </ng-template>
          </p-inputOtp>
        </div>
  
        <div class="buttons">
          <p-button label="Verify" type="submit" [style]="{width: '100%'}" [rounded]="true"></p-button>
        </div>
      </div>
    </form>
  </div>
  