<div class="card" [ngStyle]="{ 'background-image': '../../../asset/images/default.png' }">
  <div class="card-text">
    <h3 class="card-title">Project Title</h3>
    <p class="card-description">Project Description</p>
    <p class="card-author">Author Name</p>
    <p class="card-deadline">Deadline: 30 January, 2024</p>
    <div class="domain-list">
      <p-tag severity="secondary" value="AI"/>&nbsp;
      <p-tag severity="secondary" value="Blockchain"/>
    </div>
  </div>
  <div class="card-date">
    22 January, 2024
  </div>
  <div class="card-status ongoing">
    Ongoing
  </div>
</div>
